@import "~bootstrap/scss/bootstrap";

body {
  background-image: url(https://i.pinimg.com/originals/47/ee/ac/47eeacdac028ee5bb92573f9fa07e7d7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  background-color:rgb(207, 193, 193);
}

  .container-fluid {
    margin: 0px;
    padding: 0px;
  }

  .light-logo {
    width: 175px;
    height: 100px;
    margin-bottom: 0px;
  }

  .dark-logo {
    width: 175px;
    height: 100px;
    margin-bottom: 0px;
    display: none;
  }

#customCheck1 {
  padding-left: 2px;
}

// .custom-control-input {
//   padding: 5px;
//   margin: 5px;
// }
  
.avatar {
  height: 40px;
  width: 40px;
  padding: 5px;
}