@import "~bootstrap/scss/bootstrap";

.navbar {
  display: flex;
  flex-wrap: wrap;
  background-color:rgb(207, 193, 193);
}

  .container-fluid {
    margin: 0px;
    padding: 0px;
  }

  .light-logo {
    width: 175px;
    height: 100px;
    margin-bottom: 0px;
  }

  .dark-logo {
    width: 175px;
    height: 100px;
    margin-bottom: 0px;
    display: none;
  }

#customCheck1 {
  padding-left: 2px;
}

.custom-control-input {
  padding: 5px;
  margin: 5px;
}
  
.avatar {
  height: 40px;
  width: 40px;
  padding: 5px;
}