@import "~bootstrap/scss/bootstrap";

body {
  background-image: url(http://fc09.deviantart.net/fs70/i/2013/153/6/d/batman_tattoo9_by_artfoundry-d67mp41.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  background-color:rgb(207, 193, 193);
}

  .container-fluid {
    margin: 0px;
    padding: 0px;
  }

  .light-logo {
    width: 175px;
    height: 100px;
    margin-bottom: 0px;
  }

  .dark-logo {
    width: 175px;
    height: 100px;
    margin-bottom: 0px;
    display: none;
  }

.custom-control-label {
  font-size: 20px;
}

#customCheck1 {
  padding-left: 2px;
}

.overallCheckboxes {
  padding: 10px;
}
  
.avatar {
  height: 40px;
  width: 40px;
  padding: 5px;
}

.avatarSelector {
  padding: 5px;
}