#message-container {
  background-color: white;
  border-radius: 10px;

  .output {
    background-color: lightgray;
    border-radius: 15px;
    padding: .25em .75em;
    margin: 1em;
  }

  img {
    height: 2em;
    width: 2em;
  }

}
