#message-box-container {
  display: flex;
  justify-content: space-around;
}

#message-display {
  
  height: 600px;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  padding-bottom: 1em;

  .chat {
    width: 100%;
    padding: .5em .5em .5em .5em;
    border-radius: 12px;
    margin: 20px 0;
    position: relative;
    
    a {
      color: red;
      margin-left: 15px;
    }
  }

    .col-6 .chat{
    border-bottom-left-radius: 0;
    background-color: lightgray;
  }
  .offset-6 .chat {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 12px;
    background-color: #007BFF;
    color: white;
  // //  margin-left: 70%;
  }
  .chat::after {
    left: 0;
    transform: translateX(-100%);
    background: radial-gradient(circle at 0 0, transparent, transparent 72%, lightgray 72%);

  }

  .chat::after {
    right: 0;
    transform: translateX(100%);
    background: radial-gradient(circle at 100% 0, transparent, transparent 72%, #007bff 72%);
    }
}

.largeText {
  font-size: 1.2rem;
}

